.createButton {
  font-size: 15px;
}
ion-button {
  font-weight: 700;
}

.main-content {
  padding: 0 3vw;
}

.button-div {
  margin-top: 2.5vh;
  display: flex;
  justify-content: center;
}

.button-div ion-button {
  margin-right: 3vw;
}
.shiftDiv {
  width: 100%;
}
.assign-div {
  margin-top: 1.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assign-div ion-button {
  min-width: 50vw;
}

.card-p {
  font-size: 18px;
}

.card-span {
  font-weight: bold;
}
