<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Create New Shift</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create New Shift</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <ion-label>Client</ion-label>
      <ion-select [(ngModel)]="clientChosen">
        <ion-select-option *ngFor="let client of clients; let i = index" value="{{clients[i]}}">{{clients[i]}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Assign Shift to Staff (Optional)</ion-label>
      <ion-select [(ngModel)]="staffChosen">
        <ion-select-option *ngFor="let staff of staffs; let i = index" value="{{staffs[i]}}">{{staffs[i]}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Job Type</ion-label>
      <ion-select [(ngModel)]="jobType">
        <ion-select-option value="PSW">PSW</ion-select-option>
        <ion-select-option value="PSW">RN</ion-select-option>
        <ion-select-option value="PSW">RRN</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="pay" [(ngModel)]="pay"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Shift Info" [(ngModel)]="shiftInfo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMMM D YYYY" [(ngModel)]="startDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" pickerFormat="MMMM D YYYY" [(ngModel)]="endDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="startTime"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="endTime"></ion-datetime>
    </ion-item>

  </ion-list>

  <div class="button-div">
    <ion-button size="large" class="create" color="primary" expand="block">Create Client</ion-button>
    <ion-button size="large" (click)="dismiss()" color="danger" expand="block">Cancel</ion-button>
  </div>

</ion-content>
