.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}

.closeIcon {
  font-size: 5vh;
}

h1 {
  text-align: center;
}

ion-list {
  // margin-top: 2vh;
}

.button-div {
  width: 100%;
  position: absolute;
  bottom: 3vh;
  padding: 0 4vw;
}

.create {
  margin-bottom: 3vh;
}
