<ion-header mode="ios" [translucent]="true">
  <ion-toolbar mode="ios">
    <div class="back-div">
      <ion-icon class="headerIcon" (click)="back()" name="arrow-back-outline"></ion-icon>
    </div>
    <ion-title mode="ios">Payment Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" [fullscreen]="true">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar mode="ios">
      <ion-title mode="ios" size="large">Payment Info</ion-title>
    </ion-toolbar>
  </ion-header>

  <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Tax</ng-template>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>S.I.N</mat-label>
          <input type="tel" [(ngModel)]="sin" matInput placeholder="S.I.N">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>Enter 9 digit S.I.N</mat-hint>
        </mat-form-field>
      </p>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input disabled [(ngModel)]="dob" matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #picker1></mat-datepicker>
      </mat-form-field>
      <div>
        <button (click)="taxClick()" mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Address</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input [(ngModel)]="address" matInput placeholder="5 Albert St">
      </mat-form-field>

      <div class="input-div">
        <mat-form-field appearance="fill">
          <mat-label>Apt Number</mat-label>
          <input [(ngModel)]="apt" matInput placeholder="21">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Province</mat-label>
          <mat-select [(ngModel)]="provinceSelected" name="province">
            <mat-option *ngFor="let province of provinces" [value]="province">
              {{province}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-div">
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <input [(ngModel)]="city" matInput placeholder="Toronto">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Postal Code</mat-label>
          <input [(ngModel)]="postal" matInput placeholder="M1H 4L6">
        </mat-form-field>
      </div>

      <div class="button-div">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Bank</ng-template>

      <div class="input-div">
        <mat-form-field appearance="fill">
          <mat-label>Transit Number</mat-label>
          <input [(ngModel)]="transit" matInput placeholder="56826">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Branch Number</mat-label>
          <input [(ngModel)]="branch" matInput placeholder="003">
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Account Number</mat-label>
        <input [(ngModel)]="accountNumber" matInput placeholder="5496285">
      </mat-form-field>

      <div class="button-div">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button (click)="done()" mat-raised-button >Done</button>
      </div>

    </mat-step>

  </mat-horizontal-stepper>

</ion-content>
