.closeIcon {
  font-size: 5vh;
}

ion-list {
  margin-top: 2vh;
}

.main-div {
  padding: 0 25px;
  text-align: center;
}

.button-div {
  width: 100%;
  position: absolute;
  bottom: 3vh;
  padding: 0 4vw;
}

.create {
  margin-bottom: 3vh;
}

ion-item {
  --padding-start: 25px;
}
