<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title mode="ios" size="large">Employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-header mode="ios" collapse="condense">
    <ion-toolbar mode="ios">
      <ion-title mode="ios" size="large">Employees</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor="let staffMember of staff">
      <ion-card-header>
        <ion-card-title> {{ staffMember.name }} </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>email: {{staffMember.email}}</p>
        <p>Job Title: {{staffMember.jobTitle}}</p>
        <p>Phone Number: {{staffMember.pNumber}}</p>
        <p *ngIf="!staffMember.payrollSetUp">Payroll has not been set up</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
