<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Create New Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create New Client</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <ion-input type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Type of Client (eg: Nursing Home)" [(ngModel)]="clientType"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Address" [(ngModel)]="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Apt/Suite Number (Optional)" [(ngModel)]="apt"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Extra Info (Optional)" [(ngModel)]="extra"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="City" [(ngModel)]="city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Province</ion-label>
      <ion-select [(ngModel)]="province">
        <ion-select-option value="AB">AB</ion-select-option>
        <ion-select-option value="BC">BC</ion-select-option>
        <ion-select-option value="MB">MB</ion-select-option>
        <ion-select-option value="NB">NB</ion-select-option>
        <ion-select-option value="NL">NL</ion-select-option>
        <ion-select-option value="NS">NS</ion-select-option>
        <ion-select-option value="NT">NT</ion-select-option>
        <ion-select-option value="NU">NU</ion-select-option>
        <ion-select-option value="ON">ON</ion-select-option>
        <ion-select-option value="QC">QC</ion-select-option>
        <ion-select-option value="PE">PE</ion-select-option>
        <ion-select-option value="SK">SK</ion-select-option>
        <ion-select-option value="YT">YT</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Postal Code" [(ngModel)]="postalCode"></ion-input>
    </ion-item>

  </ion-list>

  <div class="button-div">
    <ion-button size="large" class="create" (click)="createClient()" color="primary" expand="block">Create Client</ion-button>
    <ion-button size="large" (click)="dismiss()" color="danger" expand="block">Cancel</ion-button>
  </div>


</ion-content>
